TD,DIV,FONT,P,BODY,SPAN,INPUT,SELECT,TEXTAREA,BUTTON{font-size:11px}
TABLE.views {
	cursor:default;
}
TABLE.views TR.title{
	background-color:#DBEAF5;
	color:#10659E
}
TABLE.views TD{
	border-bottom: 1px solid #C1CDD8;
	padding-left:5;
	height:21;
}
TABLE.views TR.selected{
	background-color:#0066CC;
}
TABLE.views TR.selected INPUT,TABLE.views TR.selected TEXTAREA {
	color:#FFFFFF;
}
TABLE.views INPUT,TABLE.views TEXTAREA{
	background-color:transparent;
	border:0;
	cursor:default;
	width:98%
}
TABLE.views TR.selected INPUT.edit,TABLE.views TR.selected TEXTAREA.edit{
	background-color:#FFFFFF;
	color: #000000;
	cursor:text;
}
button.querybutton {
	-webkit-box-align: center;
	text-align: center;
	cursor: default;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	border-image: initial;
	background-color: buttonface;
	box-sizing: border-box;
}
select.queryselect {
	-webkit-appearance: menulist;
	box-sizing: border-box;
	-webkit-box-align: center;
	border: 1px solid;
	border-image: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color: black;
	background-color: white;
	cursor: default;
}
input[type="button"].querybutton{
	-webkit-box-align: center;
	text-align: center;
	cursor: default;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	border-image: initial;
	background-color: buttonface;
	box-sizing: border-box;
}